</html>
 body {background-color: #FAFAFA;
 	color:#BF88B8;
 }
 h1{color:#BF88B8;
text-align: center;
text-shadow: 1.5px 1.5px #7C587E;}

h2{color:#BF88B8;
text-align: center;}

h4{
    font-size: 100px;
    font-weight: bold;
    color: #BF88B8;
    text-align: center;
	font-family:Times;
}
p{
	border-color: #BF88B8
	border-width: 2px;
	border-style:solid;
	color:#BF88B8;
}