</html>
 body {background-color: #FAFAFA;}
 h1{color:#BF88B8;
text-align: center;
text-shadow: 1.5px 1.5px #7C587E;}

h2{color:#BF88B8;
text-align: center;}

h3{color:#BF88B8;
text-align: center;}

ul{color:#BF88B8;}

ul{color:#BF88B8;}

ol{color:#BF88B8;}

hr{color:#BF88B8;}

a{color:#7C587E;}

img{border: 5px solid #7C587E;}
table {background-color: #FAFAFA;
text-align: center;
}
